/* ===== CRITICAL CSS ===== */

/* Система сетки */
.o-container {
  width: min(100% - 32px, 880px);
  margin-inline: auto;
}

/* Базовые стили */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "SF Pro Display", system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}
